<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>SoCraTes Crete</h2>
		<p>An Open Space Unconference<br /> about the craft <br /> of making software<br> <h3>25 - 28 Oct 2024</h3></p>
		<ul class="actions">
			<li><a href="https://forms.zohopublic.eu/socratescrete/form/SoCraTesCrete2024registrationform/formperma/_7SlegngFtaYGRxwDv_V1Dr-9rhYz8xK9VuYLgYnOm0" class="button special" target="_blank">Register now!</a></li>
		</ul>
		<ul class="actions">
			<li><a href="https://forms.zohopublic.eu/socratescrete/form/Newsletter/formperma/_Opjp5lY-xBvtZDmen3iMj-bAx2EzEXDE70zsCOINgo" class="button" target="_blank">Can’t make it this year?</a></li>
		</ul>
	</div>
	<a href="#three" class="more scrolly">Learn More</a>
</section>
