<!-- Five -->

{% if site.data.sponsors.2024 | size >0 %}
	<section id="five" class="wrapper style3 special sponsors">
		<div class="inner">

			{% for sponsors in site.data.sponsors.2024 %}
				<header class="major">
					<h2>{{ sponsors.type }} Sponsors</h2>
				</header>
				<div class="box alt" >
					<div class="row uniform 50%">
						{{site.sponsors.name }}
						{% for sponsor in sponsors.members %}
							<div class="4u">
								<span class="image">
									{% if sponsor.url %}
										<a href="{{sponsor.url}}" rel="external" target="_blank">
									{% endif %}
										<img src="{{ '/assets/images/sponsors/2023/' | append: sponsor.image | absolute_url }}" alt="{{ sponsor.name }}" />
									{% if sponsor.url %}
										</a>
									{% endif %}
								</span>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endfor %}

		</div>
	</section>
{% endif %}

<style type="text/css">
	.sponsors img{
		max-height: 200px;
		max-width:100%;
	}
</style>
